@digi:registry=https://nexus.jobtechdev.se/repository/arbetsformedlingen-npm/
@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css
@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/assets/fonts