@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./assets/fonts/open-sans-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/open-sans-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/open-sans-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/open-sans-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./assets/fonts/open-sans-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/open-sans-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/open-sans-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/open-sans-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
  }

body {
  background-color: #fafafa;
  font-family: 'Open sans';
}
.button1 {
  display: inline-block;
}

h1 {
  color: var(--digi--color--text--inverted);
}
p {
  color: var(--digi--color--text--inverted);
}
.bold {
  font-weight: 600;
}


.app {
  
}
.flex {
  display: flex;
}

.space {
  justify-content: space-between;
  align-items: center;
}

.white {
  background-color: #F4F4F4;
}
.one {
  display: flex;
  width:100%;
  color: #F4F4F4;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.knapp {
  margin-right: 1rem;
}

.buttongroup {
  padding-bottom:  1rem;
  
}


@media screen and (max-width: 770px) {
  .one {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
